@import '~antd/dist/antd.css';

body {
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background-color: #eff0f3;
  overflow-x: hidden;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(53, 80, 168, 0.2);
  background-color: #ffff;
 
}
.card{
  background-color: #ffff;
  box-shadow: 0 4px 8px 0 rgba(53, 80, 168, 0.2);
  border-radius: 5px;
  transition: all ease .5s;
}
/* .card:hover{
  background-color: rgb(248, 249, 251);
} */

